div{
    border: solid;
    height: 200px;
    width: 40%;
}
.box1{
    background-color: thistle;
    margin-top: 30%;
    margin-left: 20%;
}
.box2{
    background-color: yellowgreen;
    margin-top: 20%;
    
}